
<!doctype html>
<html>
<head>
    <title>p3132 - Dutch Treat - @ViewBag.title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


    <header class="container">

        <nav class="navbar navbar-dark bg-dark navbar-expand-md">

            <h1 class="navbar-brand"><i class="fa fa-paint-brush"></i> Welcome to Dutch Treat</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="About">About</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Shop">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="ThrowError">Error</a></li>
                    @{

                        bool isAuthenticate = User.Identity.IsAuthenticated;

                        string login_action = isAuthenticate ?"logout":"login";
                        string login_caption = isAuthenticate ? "Logout" : "Login";


                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="@login_action">@login_caption</a></li>

                    }
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <h2 class="text-center">@ViewBag.title</h2>

        @RenderBody()

    </section>

    <footer class="container">
        <div class="text-center">@@ @DateTime.Now.Year Dutch Treat LLC</div>
    </footer>


    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/index.js" asp-append-version="true"></script>

    @RenderSection("scripts", false)

</body>
</html>